---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -modernize-use-trailing-return-type,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -hicpp-braces-around-statements,
        -readability-braces-around-statements,
        -readability-else-after-return,
        -readability-identifier-length,
"
CheckOptions:
  - key: readability-avoid-return-with-void-value.StrictMode
    value: 'false'

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: 'file'
